= form_for @juice do |juice_f|
  - store_form juice_f

  %fieldset
    %legend
      Juice Data

    .field
      = juice_f.label "Name"
      = juice_f.text_field :name

  %fieldset
    %legend
      Ingredients

    .field
      = link_to "Add ingredient", new_juice_ingredient_path, remote: true, class: "new_juice_ingredient"
